@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.dark-linear {
  background: var(--black-10, #1b1918);
}

.orange-linear {
  background: var(
    --orange-linear,
    linear-gradient(129deg, #f50 0%, #ff2b00 100%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-dark-10 dark:text-light-90;
  }

  /* h1 {
    @apply text-[64px] leading-[60px];
  }

  h2 {
    @apply text-[40px];
  } */

  p {
    @apply text-2xl text-dark-30 dark:text-light-80;
  }
}
